doctype html
//
  Sketeton template
  http://getskeleton.com/
html
  head
    title= title
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(href='css/normalize.css', rel='stylesheet', type='text/css')
    link(href='css/skeleton.css', rel='stylesheet', type='text/css')
    link(href='css/iothubapidoc.css', rel='stylesheet', type='text/css')
  body
    .container
      block content